<div class="text-center">
  <h2 class="text-muted">ログイン</h2>
</div>

<div class="row">
  <div class="mx-auto", style="width: 450px;">
    <div class="w-100 p-3">

      <%= form_for(:session, url: login_path) do |f| %>

      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <%= f.submit 'ログイン', class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
</div>