<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="logo_red">
    <%= link_to(image_tag("/images/logo_red.png") , root_url) %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mx-auto">
    <% if logged_in? %>
      <li class="nav-item active">
        <%= link_to 'マイページ', user_path(current_user), class: "nav-link text-muted" %><span class="sr-only">(current)</span>
      </li>
      <li class="nav-item active">
        <%= link_to 'ユーザー一覧', users_path, class: "nav-link text-muted" %><span class="sr-only">(current)</span>
      </li> 
      <li class="nav-item active">
        <%= link_to 'ログアウト', logout_path, method: :delete, class: "nav-link text-muted" %><span class="sr-only">(current)</span>
      </li>
    <% else %>
      <li class="nav-item active">
        <%= link_to '新規登録', signup_path, class: "nav-link text-muted" %><span class="sr-only">(current)</span>
      </li>
      <li class="nav-item active">
        <%= link_to 'ログイン', login_path, class: "nav-link text-muted" %><span class="sr-only">(current)</span>
      </li> 
    <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>